:root {
  --color-primary: #7590fd;
  --color-secondary: #a9b9e9;
  --color-accent: #eeee4a;
  --color-background: #181818;
  --color-altbackground: #282828;
  --color-text: #eeeeee;
}

body {
    background-color: #181818;
    color: var(--color-text);
}

a:link {
  color: var(--color-primary);
  text-decoration: none;
}
a:visited {
  color: var(--color-secondary);
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: var(--color-primary);
}

input {
    background-color: var(--color-altbackground);
    color: var(--color-text);
    padding: 3px;
    margin-top: 3px;
    font-size: 90%;
}
summary {
    list-style: none;
    cursor: pointer;
}

.base-container {
    max-width: 500px;
    margin: auto;
}
.note {
    font-size: 80%;
}
.navbar {
    display: flex;
    min-width: 60%;
    overflow:auto;
    text-align: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.navbutton {
    background-color: var(--color-altbackground);
    display: inline-block;
    color: var(--color-text);
    text-align: center;
    padding: 8px 1%;
    margin-left: 1px;
    margin-right: 1px;
}
.navbutton:hover {
    background-color: var(--color-background);
    color: var(--color-primary);
    text-decoration: none;
}
.navbutton:visited {
  color: var(--color-text);
}
.navspacer {
    min-width: 0;
    max-width: 10%;
    flex: 1;
}
.searchbutton {
    background-color: var(--color-altbackground);
}
.searchbutton:hover {
    background-color: var(--color-altbackground);
}
.toggle-content {
    display: none;
    z-index: 1;
    height: 20px;
    align-items: center;
}
details[open] .toggle-content {
    display: inline-flex;
}
details[open] summary {
    display: none;
}
.navbutton:has(details[open]) + .navspacer {
    display: none;
}
.fine-print {
    font-size: 40%;
    color: var(--color-altbackground);
}
.faq {
    font-size: 120%;
    line-height: 150%;
    text-indent: 2ch;
}