:root {
  --color-primary: #7590fd;
  --color-secondary: #a9b9e9;
  --color-accent: #eeee4a;
  --color-background: #181818;
  --color-altbackground: #282828;
  --color-text: #eeeeee;
}

body {
    background-color: #181818;
    color: var(--color-text);
}

a:link {
  color: var(--color-primary);
  text-decoration: none;
}
a:visited {
  color: var(--color-secondary);
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: var(--color-primary);
}

input {
    background-color: var(--color-altbackground);
    color: var(--color-text);
    padding: 3px;
    margin-top: 3px;
    font-size: 90%;
}

.base-container {
    max-width: 500px;
    margin: auto;
}
.note {
    font-size: 80%;
}
.navbar {
    display: flex;
    width: 60%;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.navbar a {
    background-color: var(--color-altbackground);
    display: inline-block;
    color: var(--color-text);
    text-align: center;
    padding: 8px 1%;
}
.navbar a:hover {
    background-color: var(--color-background);
    color: var(--color-primary);
    text-decoration: none;
}
.navspacer {
    min-width: 0;
    max-width: 10%;
    flex: 1;
}
