.colorinput[type="radio"] {
    display: none;
}
.colorinput[type="radio"]:checked + label {
    border: 2px solid black;
}
.colorinput[type="radio"]:not(:checked) + label {
    border: 2px solid transparent;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.colorblock {
    width: 1em;
    height: 1em;
    margin: 0px;
    margin-right: 0.4em;
    border: 0.1em solid var(--color-text);
    display: inline-block;
    box-sizing: border-box;
}