        .color-grid {
            display: flex;
            flex-wrap: wrap;
            width: 400px;
        }
        .color-option {
            width: 20px;
            height: 20px;
            margin: 0px;
            border: 2px solid transparent;
            cursor: pointer;
            box-sizing: border-box;
        }
        input[type="radio"] {
            display: none;
        }
        input[type="radio"]:checked + label {
            border: 2px solid black;
        }
        input[type="radio"]:not(:checked) + label {
            border: 2px solid transparent;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            vertical-align: top;
        }
        
        .note {
            font-size: 80%;
        }