{% extends "base.html" %}

{% block title %}View report - {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
{% endblock %}

{% block content %}
{% if session.user_id %}
<div class="base-container">
{% if fetched.deleted %}
<h2>Report deleted by user</h2>
{% elif symptom_report %}
<h2>Edit symptom report for</h2>
{% else %}
<h2>Create symptom report for</h2>
    {% include 'report_table.html' %}
    <form action="{{ url_for('send_symptom_report') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="report_id" value="{{ fetched.id }}">
        <label for="healthvalue"><h3>Edibility rating:</h3></label>
        <p><select name="healthvalue" id="healthvalue">
            <option value="-1">Select one</option>
            {% for id,value in healthvalues.items() %}
            <option value="{{ id }}"
                {% if symptom_report %}
                    {% if symptom_report.healthvalue == id %} selected
                {% endif %}{% endif %}>
                {{ value.name }}</option>
            {% endfor %}
        </select></p>
        <h3>Confirm pretreatment:</h3>
        <p><label>
                <input type="radio" id="unblanched" name="blanched" value="0" 
                    {% if symptom_report %}
                        {% if symptom_report.blanched == 0 %}checked
                    {% endif %}{% endif %}/>
                Unblanched
        </label><br>
            <label>
                <input type="radio" id="blanched" name="blanched" value="1" 
                    {% if symptom_report %}
                        {% if symptom_report.blanched == 1 %}checked
                    {% endif %}{% endif %}/>
                Blanched
            </label></p>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endif %}
</div>    

{% else %}
{% endif %}
{% endblock %}