{% extends "base.html" %}

{% block title %}View report - {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
{% endblock %}

{% block content %}
{% if session.user_id %}
<div class="base-container">
{% if fetched.deleted %}
<h2>Report deleted by user</h2>
{% else %}
<h2>Create symptom report for</h2>
    <table>
        <tbody>
            <tr>
                <td>Report ID</td>
                <td>{{ fetched.id }}</td>
            </tr>
            <tr>
                <td>Date reported</td>
                <td>{{ fetched.date }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ fetched.user_name }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ fetched.category_name }}</td>
            </tr>
            <tr>
                <td>Color</td>
                <td><div class="colorblock" style="background-color: {{ fetched.color_hex }}"></div>{{ fetched.color_name }}</td>
            </tr>
            <tr>
                <td>Taste</td>
                <td>{% for taste in report_tastes %}{{ taste.name }}<br>{% endfor %}</td>
            </tr>
            <tr>
                <td>Culinary Value</td>
                <td>{{ fetched.culinaryvalue_name }}</td>
            </tr>
            <tr>
                <td>Edibility (unblanched)</td>
                <td>{% for hid, count_blanched, count_unblanched in symptom_counts %}
                        {% if count_blanched %}
                            {% if symptom_counts[0][1] > 0 and hid and count_blanched > 0 %}
                                {{ healthvalues[hid].name }}: {{ count_blanched / symptom_counts[0][1] * 100 }}%<br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Edibility Blanched</td>
                <td>{% for hid, count_blanched, count_unblanched in symptom_counts %}
                        {% if count_unblanched %}
                            {% if symptom_counts[0][2] > 0 and hid and count_unblanched > 0 %}
                                {{ healthvalues[hid].name }}: {{ count_unblanched / symptom_counts[0][2] * 100 }}%<br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <form action="{{ url_for('send_symptom_report') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="report_id" value="{{ fetched.id }}">
        <label for="healthvalue"><h3>Healthiness rating:</h3></label>
        <p><select name="healthvalue" id="healthvalue">
            <option value="-1">Select one</option>
            {% for id,(name,description) in healthvalues.items() %}
            <option value="{{ id }}"{% if symptom_report %}{% if symptom_report.healthvalue == id %} selected{% endif %}{% endif %}>{{ name }}</option>
            {% endfor %}
        </select></p>
        <h3>Confirm pretreatment:</h3>
        <p><input type="checkbox" id="blanched" name="blanched" value="True" {% if report %}{% if report.blanched %}checked{% endif %}{% endif %}/>
        <label for="blanched">Blanched before use</label></p>
        <input type="submit" value="Submit">
    </form>
{% endif %}
</div>    

{% else %}
{% endif %}
{% endblock %}