{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
{% endblock %}

{% block content %}
<div class="report-container"><h1>Report form</h1>
    <form action="{{ url_for('send_report') }}" method="post">
        <label for="category"><h3>Mushroom category:</h3></label>
        <p><select name="category" id="category">
            <option value="-1">Select one</option>
            {% for id,name in categories %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select></p>
        <label for="color"><h3>Colour of the mushroom:</h3></label>
        <div class="color-grid">
            {% for id,color,hex in colors %}
            <div class="color-option">
                <input type="radio" id="{{ id }}" name="color" value="{{ id }}">
                <label for="{{ id }}" class="color-option" style="background-color: {{ hex }};" title="{{ color }}"></label>
            </div>
            {% endfor %}
        </div>
        <h3>Select Flavor Profiles</h3>
        <div class="checkbox-container">
            {% for col in tastes|batch(tastes|length // 2) %}
                <div class="column">
                    {% for row in col %}
                        <label title="{{ row.description }}">
                            <input type="checkbox" name="taste{{ row.id }}" {% if row.id == 1 %}checked{% endif %}> {{ row.name }}
                        </label>
                    <br>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <h3>Culinary value:</h3>
        <select name="culvalue">
            <option value="-1">Select one</option>
            {% for id,name,description in culvalues %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
        <h3>Pretreatment</h3>
        <p><input type="checkbox" id="blanched" name="blanched" value="True" />
        <label for="blanched">Blanched before use</label></p>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}