{% extends "base.html" %}

{% block content %}
  <div class="base-container"><h1>MushEd Ratings</h1>
    <p>Welcome to MushEd, the most trusted Mushroom Edibility Tracker!</p>
    {% for message in get_flashed_messages() %}
    <p class="flash">{{ message }}</p>
    {% endfor %}
    {% if session.user_id %}
    <p class="indented">
      Logged in as <a href="{{ url_for('view_user', user_id=session.user_id) }}">{{ session.username }}</a>.
  <br><span style="font-size: 80%">Not {{session.username}}? <a href="/logout">Logout</a> or <a href="{{ url_for('report_fatality', user_id=session.user_id) }}">report the departed</a>.</span>
    </p>
    <p>We're working really hard to implement the following features for your benefit
      <ul>
        <li>Credit annullment (partially done)</li>
        <li>Symptom report deletion</li>
        <li>Statistics</li>
        <li>New activity listing</li>
        <li>Improved security</li>
        <li>Better search</li>
        <li>Fatalities reporting</li>
      </ul>
    </p>
    <p>Keep sampling and stay safe!</p> 
      <p><span class="indented">Best regards</span>
      <br><span class="indented signature">Universavorum Incorporated</span>
      <br><span class="indented signature">Department of Galactic Discovery</span>
      <br><span class="indented signature">Nutritional Innovations Branch</span>
    </p>
    {% else %}
      <div class="info-expander">
          <details>
              <summary class="faq">Why am I here?</summary>
                  <div class="toggle-info">
                    <p>Good day! You have been chosen to sample mushrooms on a newly found exoplanet. 
                      Enjoy the local fungi in your cuisine and share your findings to gain credits* for your trouble.
                      1 000 000 credits earns you a trip back home and a gratis liver sample analysis. 
                  </div>
          </details>
      </div>
      <div class="info-expander">
          <details>
              <summary class="faq">How do I proceed?</summary>
                  <div class="toggle-info">
                      <a href="{{ url_for('register') }}">Create your account now</a> and 
                      <a href="{{ url_for('create_report') }}">report your findings</a> to claim your well earned credits*. 
                      Remember to check back on <a href="{{ url_for('all_reports') }}">what others have tasted</a>!</p>
                      <p>Pro tip: When eating a mushroom for the first time, it's safer to try it blanched first.</p>
                      <span class="fine-print">* Not yet implemented</span>
                  </div>
          </details>
      </div>
    <p>Log in</p>
    <form action="/login" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password" />
      </p>
      <input type="hidden" name="redirect" value="/" />
      <input type="submit" value="Login" />
    </form>
    <p>...or register <a href="{{ url_for('register') }}">here</a>!</p>
    {% endif %}
  </div>
{% endblock %}