<!DOCTYPE html>
<html>

<head>
  <title>MushEd Ratings</title>
</head>

<body>
  <h1>MushEd Ratings</h1>
  <p>Good day! You have been chosen to sample mushrooms on a newly found exoplanet. Create your account now and report your findings to claim credits. 1 000 000 credits earns you a trip back home and a gratis liver sample analysis. Remember to check back on what others have tasted!</p>
  <p>{{ second_p }}</p>
  <!-- <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %} -->
</body>

</html>
