<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Display</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #777;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #282828;
        }
    </style>
</head>
<body>
    <h1>Table Contents</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>UID</th>
                <th>Date</th>
                <th>Category</th>
                <th>Color</th>
                <th>Culinary Value</th>
                <th>Blanched</th>
            </tr>
        </thead>
        <tbody>
            {% for id,uid,date,category,color,culinaryvalue,blanched,deleted in data %}
            {% if deleted %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ uid }}</td>
                <td>{{ date }}</td>
                <td>deleted</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ id }}</td>  <!-- ID -->
                <td>{{ uid }}</td>  <!-- UID  -->
                <td>{{ date }}</td>  <!-- Date -->
                <td>{{ category }}</td>  <!-- Category -->
                <td>{{ color }}</td>  <!-- Color -->
                <td>{{ culinaryvalue }}</td>  <!-- Culinary Value -->
                <td>{{ blanched }}</td>  <!-- Blanched (Boolean) -->
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>