<!DOCTYPE html>
<html>

{%if session.username %}
<head>
  <title>Report</title>
</head>
<body>
    <p>reportform</p>

{%else %}
<head>
  <title>Login</title>
</head>
<body>
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="hidden" name="redirect" value="/report" />
    <input type="submit" value="Login" />
  </form>
  {% endif %}
</body>

</html>