{% extends "base.html" %}

{% block title %}Search results - {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}

{% block content %}
<h1>Search results</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Date</th>
                <th>Category</th>
                <th>Color</th>
                <th>Culinary Value</th>
                <th>Blanched</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                {% if row.deleted %}
                <tr>
                    <td>Report {{ row.id }}</td>
                    <td>{{ row.user_name }}</td>
                    <td>-</td>
                    <td>deleted</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% else %}
                <tr>
                    <td><a href="{{ url_for('view_report', report_id=row.id) }}">Report {{ row.id }}</a></td>
                    <td><a href="{{ url_for('view_user', user_id=row.uid) }}">{{ row.user_name }}</a></td>
                    <td>{{ row.date }}</td>
                    <td><a href="{{ url_for('search', query=row.category_name) }}">{{ row.category_name }}</a></td>
                    <td><a href="{{ url_for('search', query=row.color_name) }}">{{ row.color_name }}</a></td>
                    <td><a href="{{ url_for('search', query=row.culinaryvalue_name) }}">{{ row.culinaryvalue_name }}</a></td>
                    <td>{{ row.blanched }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}