{% extends "base.html" %}

{% block title %}View report - {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
{% endblock %}

{% block content %}
{% if session.user_id %}
<div class="base-container">
{% if fetched.deleted %}
<h2>Report deleted by user</h2>
{% else %}
<h2>Sampling report</h2>
    <table>
        <tbody>
            <tr>
                <td>Report ID</td>
                <td>{{ fetched.id }}</td>
            </tr>
            <tr>
                <td>Date reported</td>
                <td>{{ fetched.date }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ fetched.user_name }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ fetched.category_name }}</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>{{ fetched.color_name }}</td>
            </tr>
            <tr>
                <td>Taste</td>
                <td>{% for taste in report_tastes %}{{ taste.name }}<br>{% endfor %}</td>
            </tr>
            <tr>
                <td>Culinary Value</td>
                <td>{{ fetched.culinaryvalue_name }}</td>
            </tr>
            <tr>
                <td>Edibility</td>
                <td>{{ fetched.edibility_name }}</td>
            </tr>
            <tr>
                <td>Edibility Blanched</td>
                <td>{{ fetched.edibility_name }}</td>
            </tr>
        </tbody>
    </table>
    <p><a class="note" href="{{ url_for('create_symptom_report', report_id = fetched.id) }}">Post a symptom report</a>
    {% if session.user_id == fetched.user_id %}
        <a class="note" href="{{ url_for('edit_report', report_id = fetched.id) }}">Edit report {{ fetched.id }}</a>
    {% endif %}
    </p>
{% endif %}
</div>    

{% else %}
{% endif %}
{% endblock %}